
# Ignore environment variables
.env

# Ignore node_modules
node_modules/

# Ignore logs
*.log

# Ignore build files
dist/
build/

/backend/jsonFolder
financial-information-system-firebase-adminsdk-c9w4k-dd8fb5860f.json
